nav#navbar.collapsed()
	.bubble.bubble-top(onclick="toggle()")
	ul#navlist
		.navheader
			a(href="https://robo-crc.ca/")
				img.navimg(src="/assets/images/logos/crclogo.png")
			a(href="")
				img.navimg(src="/assets/images/logos/vanier roboticslogo.png")
			a(onclick=`toggleCookie('${lang}')`)
				span.navtoggle=text.navbar.header.toggle[lang]
		+navlink("/", text.navbar.links.map[lang], "CompassRose.svg")
		+navlink("/roster/build", text.navbar.links.roster[lang], "Militia.png")
		+navlink("/crc/", text.navbar.links.crc[lang], "Warfront.png")
		+navlink("/robot/", text.navbar.links.robot[lang], "Artillery.svg")
		+navlink("/archives/", text.navbar.links.archives[lang], "Archives.png")
		//- +navlink("/video/", text.navbar.links.video[lang], "Ampitheater.svg")
	.bubble.bubble-bottom(onclick="toggle()")