html
	include ../includes/head.pug
	include ../includes/mixins.pug
body#landing(onload="checkCookie()")
	#landing-desktop.desktop
		h1.landing-title Welcome to Vanier Robotics 2021!
		//- h1.landing-title Bienvenue Chez Vanier Robotique 2021!
		.selector.nowrap 
			a.lang-emperor.emeperor2.sdw(onclick="setCookie('language', 'fr', 365)", href="/fr")
				img(src="/assets/images/landing/emperor2-edit.png")
			a.lang-emperor.emperor1.sdw(href="/en", onclick="setCookie('language', 'en', 365)")
				img(src="/assets/images/landing/emperor1-edit.png")
		.logos
			a.grayscale(href="https://robo-crc.ca/")
				img(src="/assets/images/logos/crclogo.png" height="100px" width="100px")
			a.grayscale(href="https://www.vaniercollege.qc.ca/")
				img(src="/assets/images/logos/vanier roboticslogo.png" height="100px" width="100px")
	#landing-mobile.mobile
		h1.landing-title Welcome to Vanier Robotics 2021!
		//- h1.landing-title Bienvenue Chez Vanier Robotique 2021!
		.selector.center 
			a.lang.select(onclick="setCookie('language', 'fr', 365)", href="/fr") French 
			a.lang.select(onclick="setCookie('language', 'en', 365)", href="/en") English