html
	include ../includes/head.pug
	include ../includes/mixins.pug
body#landing(onload="checkCookie()")
	#landing-desktop.desktop
		h1.landing-title Welcome to Vanier Robotics 2021!
		//- h1.landing-title Bienvenue Chez Vanier Robotique 2021!
		.selector.nowrap 
			a.lang-emperor.emeperor2.shadow(onclick="setCookie('language', 'en', 365)", href="/en")
				img(src="/assets/images/landing/emperor2-edit.png")
			a.lang-emperor.emperor1.shadow(href="/fr", onclick="setCookie('language', 'fr', 365)")
				img(src="/assets/images/landing/emperor1-edit.png")
	#landing-mobile.mobile
		h1.landing-title Welcome to Vanier Robotics 2021!
		h1.landing-title Bienvenue Chez Vanier Robotique 2021!
		.selector.center 
			.lang.select(onclick="setCookie('language', 'fr', 365)") French 
			.lang.select(onclick="setCookie('language', 'en', 365)") English