html
	include ../includes/head.pug
	include ../includes/mixins.pug
body#map-page
	#map.desktop 
		+maplink("roster/captain", text.map.links.roster[lang], "militia")
		+maplink("robot", text.map.links.robot[lang], "artillery")
		+maplink("video", text.map.links.video[lang], "amphitheatre")
		+maplink("crc", text.map.links.crc[lang], "warfront")
		+maplink("archives", text.map.links.archives[lang], "archives")
	#mobile-map.mobile 
		.selector-header 
			h2 Select your destination:
		.selector.center.column.map
			+mobileMapLink("roster/captain", text.map.links.roster[lang])
			+mobileMapLink("robot", text.map.links.robot[lang])
			//- +mobileMapLink("video", text.map.links.video[lang])
			+mobileMapLink("crc", text.map.links.crc[lang])
			+mobileMapLink("archives", text.map.links.archives[lang])