
a{
	text-decoration: none;
}
.link {
	position: absolute;
	color: white;
	background-color: black;
	cursor: pointer;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.link:hover {
	box-shadow: 0 5px 50px 0 #f7ff00 inset;
}

.militia {
	top: 150px;
	left: 1170px;
}

.artillery {
	top: 340px;
	left: 495px;
}

.amphitheatre {
	top: 565px;
	left: 550px;
}

.warfront {
	top: 565px;
	left: 850px;
}

.archives {
	top: 680px;
	left: 810px;
}

.warfront {
	top: 580px;
	left: 860px;
}

.archives {
	top: 685px;
	left: 825px;
}

h2:hover {
	box-shadow: 0 5px 50px 0 #f7ff00 inset
}

