ul.archive-nav {
	list-style-type : none;
	margin          : 0;
	padding         : 0;
	overflow        : hidden;
	background-color: tan;
	// margin-bottom: 0.5em;
}

li.archive-nav-item {
	float: right;
}

li.archive-nav-item a {
	display        : block;
	color          : black;
	text-align     : center;
	padding        : 2rem 2rem;
	text-decoration: none;
	font-size: 2.5em;
	font-family: myFirstFont;
	&:hover {
		background-color: darken($color: tan, $amount: 20);
	}
}