@import "landing";
@import "text-heavy";
@import "map";
@import "effects";
@import "variables";
@import "navbar";
@import "custom";


@font-face {
	font-family: myFirstFont;
	src        : url("/assets/fonts/Catwalzhari-ywL2Y.ttf");
}

body {
	background-repeat  : no-repeat;
	background-size    : cover;
	background-position: center;
	min-height         : 100vh;
	overflow-x         : hidden;
	overflow-y         : hidden;
}
a{
	text-decoration: none;
	&:any-link{
		color: white;
	}
}
.tan {
	background-color: $scroll-color;
}
.window {
	width: 90vw; /*window dimensions*/
	height: 80vh; /*window dimensions*/
	border: solid 2px black; /*Adding a border*/
	background-color: rgba(
		255,
		255,
		255,
		0.5
	); /*Making only the window half transparent*/
	overflow-y: scroll; /*Adding a vertical scrollbar*/
	/* text-align: center; */
	margin: auto;
}