#map-page {
	background-image: url("/assets/images/backgrounds/romanempire2.png");
	overflow: initial;
	background-size: initial;
	background-color: #f2f5cf;
	background-position: 0px 0px;
	// min-height: initial;
}

.link {
	position        : absolute;
	color           : white;
	background-color: black;
	cursor          : pointer;
	padding-left    : 0.5em;
	padding-right   : 0.5em;

	&:hover {
		box-shadow: 0 5px 50px 0 #f7ff00 inset;
	}
}

.selector-header {
	text-align: center;
	font-size : 3em;
}

.select.map {
	font-size       : 3.5em;
	padding         : 01em;
	min-width       : 60vw;
	text-align      : center;
	border-radius   : 1em;
	background-color: rgba(0, 0, 0, 0.9);

	&:hover {
		background-color: rgba(0, 0, 0, 0.7);
	}

	&:not(:last-child) {
		margin-bottom: 0.5em;
	}
}

.selector.map {
	justify-content: space-evenly;
}

.militia {
	top : 140px;
	left: 1100px;
}

.artillery {
	top : 330px;
	left: 435px;
}

.amphitheatre {
	top: 600px;
	left: 450px;
}

.warfront {
	top: 570px;
	left: 800px;
}

.archives {
	top: 710px;
	left: 740px;
}

@media only screen and (max-width: 1200px) {
	#map-page {
		background-size: cover;
	}
}