#navbar {
	position  : fixed;
	left      : 1em;
	top       : 1em;
	transition: 0.5s;

	& * {
		font-size: 2rem;
	}

	z-index: 999;
	width  : 28em;
	filter : drop-shadow(0 0 0.5rem black);
}

#navlist {
	&>* {
		list-style: none;
		overflow  : hidden;
	}

	border-left           :1px solid black;
	border-right          :1px solid black;
	list-style            : none;
	height                : 0;
	overflow              : hidden;
	background-color      : #d2b58d;
	// background-image: url("/assets/images/scrolls/vertical scroll 1.png");
	// background-position: center;
	// background-repeat: no-repeat;
	// background-size: cover;
	position              : relative;
	margin-bottom         : 0;
	text-align            : justify;
	margin-left           : 2rem;
	padding-left          : 2rem;
	margin-right          : 2rem;
	padding-right         : 2rem;

}

#navbar.visible>#navlist>.navheader {
	height        : auto;
	transition    : 0.3s;
	padding-top   : 0.5em;
	padding-bottom: 0.5em;
}

#navbar.visible,
#navbar.visible>#navlist {
	min-height    : 50vh;
	height        : auto;
	transition    : 0.3s;
	padding-top   : 0.5em;
	padding-bottom: 0.5em;
}

.navheader {
	display        : flex;
	justify-content: space-around;

	&>a {
		font-size : 5rem;
		min-height: 2rem;
		min-width : 2rem;
	}
}

.navigationlink {
	border-radius   : 5px;
	padding         : 0.5em;
	background-color: transparent;

	&:hover {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

.navtoggle {
	min-width    : 4rem;
	min-height   : 4rem;
	padding      : 1rem;
	display      : inline-block;
	border-radius: 5px;
	font-size    : 2.5rem !important;

	&:hover {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

.navimg {
	max-height   : 3rem;
	max-width    : 3rem;
	float        : left;
	margin-right : 1em;
	border-radius: 50%;
}

.navheader>a>.navimg {
	max-height   : 5rem;
	max-width    : 5rem;
	margin-right : 0;
	border-radius: 5px;

	&:hover {
		background-color: rgba(0, 0, 0, 0.4);
	}
}



.bubble {
	border-width             : 4px;
	border-left              : 5px solid #ffffff;
	border-right             : 5px solid #ffffff;
	// border-top-left-radius: ;
	height                   : 1em;
	background-color         : tan;

	background-position: center;
	background-repeat  : no-repeat;
	background-size    : cover;
	position           : relative;
	box-sizing         : border-box;

}

.bubble-top {
	// background-image: url("/assets/images/scrolls/scroll top.png");
	outline: 1px solid black;
	z-index: 10;

}

.bubble-bottom {
	// background-image: url("/assets/images/scrolls/scroll bottom.png");
	filter : drop-shadow(0 0 0.5rem black);
	outline: 1px solid black;
}

@media only screen and (max-width: 1200px) {
	.bubble {
		height: 3.5em;
	}

	.bubble-bottom {
		display: none;
	}

	#navbar {
		width   : 100%;
		position: initial;

		& * {
			font-size: 4rem
		}
	}

	#navlist {
		margin-left  : 0;
		padding-left : 0;
		margin-right : 0;
		padding-right: 0;
		// & > 
	}

	.navheader>a>.navimg {
		max-height: 10rem;
		max-width : 10rem;
	}

	.navtoggle {
		min-width    : 8rem;
		min-height   : 8rem;
		padding      : 1rem;
		font-size    : 5rem !important;
	}
	.navimg {
		max-height   : 5rem;
		max-width    : 5rem;
		margin-right : 1em;
	}

}