#text-heavy {
	background-image: url("/assets/images/backgrounds/battlefield.jpg"); /*To set the page's background*/
}
/*The center window */
.window {
	width: 90vw; /*window dimensions*/
	height: 80vh; /*window dimensions*/
	border: solid 2px black; /*Adding a border*/
	background-color: rgba(
		255,
		255,
		255,
		0.5
	); /*Making only the window half transparent*/
	overflow-y: scroll; /*Adding a vertical scrollbar*/
	/* text-align: center; */
	margin: auto;
}

/*The window title*/
.title {
	font-family: myFirstFont; /*Setting the font for the title*/
	font-size: 250%; /*Changing the font size of the title*/
	text-decoration: none; /*Removing text decoration*/
	text-align: center;
}

/*The set of paragraph and image*/
.paragraph {
	font-family: 'Times New Roman', Times, serif;
	border: solid 2px black;
	background-color: white;
	display: flex;
	min-width: 100%;
	box-sizing: border-box;
	padding: 1em;
}
.paragraph:not(:last-child) {
	margin-bottom: 1em;
}

/*The paragraph box*/
.text {
	/* width: 90%; */
	flex-grow: 2;
	/* border: solid 2px black; Adding a border */
	font-size: 1.5rem;
}
.text > p {
	padding: 1em;
	text-align: justify;
}

/*The paragraph box's subtitle*/
.subtitle {
	font-family: myFirstFont;
	font-size: 150%;
	text-decoration: none; /*Removing text decoration*/
	text-align: center;
}
.subtitle.right {
	text-align: right;
}
.subtitle.left {
	text-align: left;
}



/*The set's image*/
.image {
	height: 7em;
	flex-grow: 1;
	border-radius: 1em;
	max-height: 100%;
}
img.right {
	float: right;
	margin-left: 1em;
}
img.left {
	float:left;
	margin-right: 1em;
}

@media screen and (max-width: 1200px), (pointer: coarse){
	body {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.window {
		height: initial; /*window dimensions*/
		width: 90vw;
		max-height: initial;
	}
}