#text-heavy {
	background-image: url("/assets/images/backgrounds/battlefield.jpg");
}
/*The center window */

.article {
	background-color: white;
	font-family: 'Times New Roman', Times, serif;
	min-width: 100%;
	padding: 1em;
	font-size: 1.75em;
	&:not(:last-child){
		margin-bottom: 1rem;
		border-bottom: 2px solid black;
	}
	&:not(:first-child){
		border-top: 2px solid black;
	}
}
/*The window title*/
.title {
	font-family: myFirstFont;
	font-size: 2em;
	text-decoration: none;
	text-align: center;
}

/*The set of paragraph and image*/
.paragraph {
	display: flex;
	min-width: 100%;
	box-sizing: border-box;
}
.paragraph:not(:last-child) {
	margin-bottom: 1em;
}

/*The paragraph box*/
.text {
	/* width: 90%; */
	flex-grow: 2;
	/* border: solid 2px black; Adding a border */
	font-size: 1.5rem;
}
.text > p {
	padding: 1em;
	text-align: justify;
}

/*The paragraph box's subtitle*/
.subtitle {
	font-family: myFirstFont;
	font-size: 150%;
	text-decoration: none; /*Removing text decoration*/
	text-align: center;
}
.subtitle.right {
	text-align: right;
}
.subtitle.left {
	text-align: left;
}



/*The set's image*/
.image {
	height: 7em;
	flex-grow: 1;
	border-radius: 1em;
	max-height: 100%;
}
img.right {
	float: right;
	margin-left: 1em;
}
img.left {
	float:left;
	margin-right: 1em;
}

@media screen and (max-width: 1200px), (pointer: coarse){
	body {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.window {
		height: initial; /*window dimensions*/
		width: 90vw;
		max-height: initial;
	}
}