body {
	background-image: url("romanempire.png");
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center;
	overflow-x: hidden; 
	overflow-y: hidden; 
	min-height: 100vh;
}
#map {
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
}
a{
	text-decoration: none;
}
.link {
	position: absolute;
	color: white;
	background-color: black;
	cursor: pointer;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.link:hover {
	box-shadow: 0 5px 50px 0 #f7ff00 inset;
}

.militia {
	top: 150px;
	left: 1170px;
}

.artillery {
	top: 330px;
	left: 500px;
}

.amphitheatre {
	top: 565px;
	left: 550px;
}

.warfront {
	top: 565px;
	left: 850px;
}

.archives {
	top: 680px;
	left: 810px;
}